* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: auto;
}

/* Banner */
.global-message {
  background-color: rgb(71, 32, 1);
  line-height: 32px;
}
.global-content {
  display: flex;
  justify-content: space-between;
  color: white;
}

/* navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.logo a:hover {
  background-color: rgb(110, 54, 11);
  transition: 0.2s;
}
.nav-bar {
  background: rgb(228, 110, 19);
}

.menu ul {
  list-style-type: none;
  display: flex;
}
.menu ul li {
  margin-left: 10px;
}
.menu ul li:hover {
  cursor: pointer;
  box-shadow: -10px 5px 0px 0px rgb(71, 32, 1);
  transition: 0.2s;
}
.socials {
  display: flex;
  gap: 15px;
  margin-top: 6px;
}
/* Hero Section */
.hero {
  min-height: 80vh;
  background-image: url(image/travel.jpg);
  background-size: cover;
  padding: 40px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
.hero-content {
  color: white;
  font-weight: bolder;
  width: 450px;
  background-color: rgba(38, 36, 36, 0.8);
  padding: 30px 20px;
  text-align: center;
}
.hero-content p {
  font-size: 70px;
  text-align: center;
}

/* post card section */
.posts {
  margin-top: 40px;
  display: flex;
}
.posts-content {
  width: 66%;
}
article {
  display: flex;
  margin-top: 40px;
}
.images {
  width: 500px;
  margin-right: 15px;
}
.title {
  font-size: 30px;
  font-weight: bolder;
}
.side-links {
  width: 34%;
}
.country {
  background: rgb(247, 247, 166);
  padding: 40px;
  margin-top: 35px;
}
.country:hover {
  cursor: pointer;
}
.year {
  background: rgb(247, 247, 166);
  padding: 40px;
  margin-top: 72px;
}
.year:hover {
  cursor: pointer;
}
article {
  display: flex;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
.btn {
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
  padding: 10px 10px;
}
.btn:hover {
  cursor: pointer;
}
/* card section */

.card-section {
  margin-top: 40px;
  background: rgb(212, 212, 127);
  padding: 20px 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.card {
  width: 350px;
  min-height: 300px;
  background: white;
  border-radius: 5px;
  padding-bottom: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.card:hover {
  cursor: pointer;
  box-shadow: rgb(62, 60, 60) -10px 0px 10px 0px;
}
.card img {
  border-radius: 10px 10px 0px 0px;
}
.btn-card {
  font-size: 15px;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  border: none;
  padding: 10px 10px;
}

/* Subscription */
.btn-submit {
  font-size: 15px;
  border: none;
  border-radius: 2px;
}
.btn-submit:hover {
  cursor: pointer;
}
.subscription {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
footer {
  background: black;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  min-height: 30px;
}

/* Media Query */

/* laptop */
@media (max-width: 1224px) {
  .posts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .posts-content {
    width: 100%;
    margin-bottom: 20px;
  }
  .side-links {
    width: 100%;
    display: flex;
    gap: 7px;
  }
  .year,
  .country {
    margin: auto;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: 45%;
  }
  .card:hover {
    cursor: pointer;
    box-shadow: rgb(62, 60, 60) -10px 0px 10px 0px;
  }
}

/* mobile screen */

@media (0 <= width <= 768px) {
  .global-message {
    display: none;
  }
  article {
    display: flex;
    flex-direction: column;
  }
  .images {
    width: 100%;
  }
  .title {
    margin-top: 1rem;
  }
  .country,
  .year {
    width: 100%;
    text-align: center;
  }
  .side-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 74%;
  }
  .card {
    width: 100%;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  form,
  input {
    width: 100%;
  }
  h2 {
    text-align: center;
  }
  .card {
    box-shadow: rgb(62, 60, 60) -10px 0px 10px 0px;
  }
}
